body {
	background-color: white;
	color: black;
	height: 100%;
	margin: 0px;
	padding: 0px;
	width: 100%;
}
header {
	background-color: skyblue;
	padding: 20px;
}
main {
	overflow: wrap;
	padding-left: 5%;
}
nav {
	background-color: skyblue;
	position: sticky;
	width: 100%;
}
button {
	background-color: skyblue;
	text: black
}
button:hover {
	background-color: blue;
	text: white;
}
button:active {
	background-color:white;
	text: black;
}
.language {
	background-color: lightgray;
	color: black;
}
