body {
	background-color: white;
	color: black;
	padding: 5%;
}
header {
	background-color: #333333;
	border-radius: 10px;
	height: auto;
	left: 5%;
	padding: 6px;
	position: fixed;
	top: 5%;
	width: 50%;
}
.language {
	background-color: lightgray;
	color: black;
}
